.card .header a {
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    border-radius: 1.2rem;
    background: var(--color-primary);
    color: var(--color-light-text);
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-container {
    margin: 4rem;
    margin-bottom: 0;
    height: 100%;

    display: grid;
    gap: 2rem 5rem;
    grid-template-rows: 400px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "myTeams top5"
        "myTeams mostPicked"
    ;
}

#my-teams {
    grid-area: myTeams;
}

#my-teams .body {
    font-weight: bold;
}

#top-5 {
    grid-area: top5;
}

#most-picked {
    grid-area: mostPicked;
    background-image: linear-gradient(var(--color-secondary-light),var(--color-secondary-dark));
}
