.card {
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    width: auto;
    padding: 2rem;
}

.grid-container {
    margin: 4rem;
    margin-bottom: 0;
    height: 100%;

    display: grid;
    gap: 2rem 5rem;
    grid-template-rows: 400px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "myTeams top5"
        "myTeams mostPicked"
    ;
}

#my-teams {
    grid-area: myTeams;
}

#top-5 {
    grid-area: top5;
}

#most-picked {
    grid-area: mostPicked;
    background-image: linear-gradient(var(--color-secondary-light),var(--color-secondary-dark));
}