header {
    background-color: var(--color-primary);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

#app-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-info img {
    width: 6rem;
    height: 6rem;
    margin-left: 4rem;
}

#app-info h2 {
    margin-left: 1.2rem;
}

#user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-info img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 4rem;
}

#user-info h4 {
    margin-right: 0.5rem;
}

.card {
    background-color: #FFFFFF;
    width: 18rem;
}

.grid-container {
    margin: 4rem;
    margin-bottom: 0;
    display: grid;

    grid-template-rows: 400px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "myTeams top5"
        "myTeams mostPicked"
    ;
}

.my-teams {
    grid-area: myTeams;
}

.top-5 {
    grid-area: top5;
}

.most-picked {
    grid-area: mostPicked
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
}